@charset "UTF-8";

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px; 
    background-color: rgb(185, 185, 185);
    text-align: justify;
}
h1{
    font-style: italic;
    text-align: center;
}