@charset "UTF-8";

body{
    background-color: lightgoldenrodyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    text-align: justify;
    }
h1{
    color: blueviolet;
    background-color: gray;
}
h2{
    color: rgb(3, 250, 61);
}
